* {
    box-sizing: content-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    background-color: white;
}

#swooshWrapper {
    display: none;
    z-index: 10000;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(38, 35, 66, 0.33);
}

#swooshWrapper.visible {
    display: block;
}

.swoosh {
    overflow-y: visible;
    position: absolute;
    height: 100%;
    max-height: 100%;
    background: white;
    width: 40%;
    max-width: 480px;
    min-width: 240px;
    bottom: 0;
    right: 0;
    z-index: 10001;
    display: flex;
    flex-direction: column;
}

.swooshHeader {
    padding: 12px;
    background-color: red;
}

.swooshHeader > h1 {
    display: inline-block;
    margin: 0;
}

.swooshHeader > span {
    float: right;
    cursor: pointer;
    font-size: 32px;
}

.swooshContent {
    flex: 1;
    padding: 12px;
}

.swooshFooter {}

.btn {
    font-size: 16px;
    background: #00eeff;
    border: 0 none;
    border-radius: 50px;
    padding: 12px;
    margin: 12px;
}
